<%= form_with(url: scores_path, method: :post, data: { turbo_frame: "_top" }, scope: :scores, style: "display: flex; justify-content: center; flex-direction: column;") do |form| %>
  <% 3.times do |i| %>
    <div>
      <%= form.fields_for :scores, Score.new, index: i do |score_fields| %>
        <%= score_fields.label :name, "名前#{i+1}" %>
        <%= score_fields.text_field :name, placeholder: "名前を入力してください" %>

        <%= score_fields.label :score, "点数#{i+1}" %>
        <%= score_fields.number_field :score, value: 35000 %>
      <% end %>
    </div>
  <% end %>

  <div style="display: flex; justify-content: center;">
    <%= form.submit "保存", class: "border border-black p-2 rounded hover:bg-gray-200" %>
  </div>
<% end %>