<div id="scores-container">
  <% @user.scores.each_slice(3).with_index do |score_group, group_index| %>
    <div id="score-group-<%= group_index %>" class="score-group">
      <% score_group.each do |score| %>
        <p><%= score.name %>: <%= score.score %>点</p>
      <% end %>

      <% if score_group.present? %>
        <%= form_with url: destroy_group_scores_path, method: :delete, data: { turbo_confirm: "このグループのスコアを削除しますか？" } do |form| %>
          <% score_group.each do |score| %>
            <%= form.hidden_field "score_ids[]", value: score.id %>
          <% end %>
          <%= form.submit "このグループを削除" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @user.scores.count % 3 > 0 %>
    <div id="remaining-scores" class="score-group">
      <% remaining_scores = @user.scores.last(@user.scores.count % 3) %>
      <% remaining_scores.each do |score| %>
        <p><%= score.name %>: <%= score.score %>点</p>
      <% end %>
      <% if remaining_scores.present? %>
        <%= form_with url: destroy_group_scores_path, method: :delete, data: { turbo_confirm: "残りのスコアを削除しますか？" } do |form| %>
          <% remaining_scores.each do |score| %>
            <%= form.hidden_field "score_ids[]", value: score.id %>
          <% end %>
          <%= form.submit "このグループを削除" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>