<header class="w-full mt-5 text-gray-700 bg-white border-t border-gray-100 shadow-sm body-font">
  <div class="container flex items-start justify-between p-6 min-w-full" style="justify-content: space-between;"> <%# space-between を指定 %>
    <%= link_to "使い方の説明", help_path, data: { turbo: false }, class: "font-medium" %> <%# <a>タグを削除、classを追加 %>

    <div class="items-center h-full">
      <% if current_user %>
        <div class="flex">
          <p class="inline-block mr-5 font-medium">
            LoginUser: <%= current_user.name %>
          </p>
          <a href="<%= battle_score_path %>" class="mr-5 font-medium">対戦履歴</a>
          <%= button_to "ログアウト", logout_path, method: :post, data: { turbo: false }, class: "mr-5 font-medium hover:text-gray-900" %>
        </div>
      <% else %>
        <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false }, class: "mr-5 font-medium hover:text-gray-900" %>
      <% end %>
    </div>
  </div>
</header>
